h2{
  font-family: lato, sans-serif;
}

p{
  margin: 10px;
  padding: 7px;
}

.nombre{
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-style: oblique;
}

li{
  margin: 15px;
  list-style: none;
}