.App {
  font-family: Lato;
  display: flex;
  flex-direction:column;
  background-color: #ffffff;
}

body{
  background-color: #f0f0f0;
}

.pag{
  display: flex;
  margin: 2rem 0 ;
  align-items: center;
}


.header-dad{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0c3c60;
}

.titulo-header{
  text-align: center;
  font-size: 2rem;
  color:transparent;
  font-weight: bold;
  padding: 1.2rem;
  background-image: url('./img/bandera2.jpg');
  background-size:cover;
  background-position-y: 80%;
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.arg-icon{
  width: 100px;
  padding-right: 1.2rem;
}
.inicio, .Pading{
  max-width: 1000px;
  margin: auto;

}

.inicio{
  display: flex; 

}

.inicio img{
  width: 100%;
}

footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #0c3c60;
  margin:0;
}
.creditos{
  display: flex;
  flex-direction: column;
  padding:1rem;
}
h2{
  padding: 1rem;
}

.n2{
  flex-direction: column;
}

.img-h, .img-ej{
  width: 90%;
}
.Pading{
  padding: 2rem;
}

.creditos a{
  text-decoration: none;
  color:#14b199;
}
.creditos a:hover{
  color:aqua;
}



@media screen and (max-width:720px) and (min-width:200px) {

  .pag{
    display: flex;
    flex-direction: column;
  }
  .Pading{
    padding: 0;
  }
  .img-h, .img-ej{
    width: 100%;
  }
}
